.matInputWidth{
    width: 450px;
    background-color: #ffff;
}
.disabled{
    pointer-events: none;
}
.eventTime{
    padding: 8px 22px;
    font-size: 22px;
    background-color: #fafafa;
    border-radius: 6px;
}