<div class="container-fluid pt-3">
  <h2 class="componentsTitle"> Create Certificate</h2>

    <div class="container pm-certificate-container">
      <div class="outer-border"></div>
      <div class="inner-border"></div>
      
      <div class="pm-certificate-border col-12">
        <div class="row pm-certificate-header">
          <div class="pm-certificate-title cursive col-12 text-center">
            <h2>Northwest Missouri State University</h2>
            <h2>Certificate of Completion</h2>
          </div>
        </div>
  
        <div class="row pm-certificate-body">
          <div class="pm-certificate-block">
              <div class="col-12">
                <div class="row">
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                  <div class="pm-certificate-name underline m-0 col-8 text-center">
                    <span class="pm-name-text bold">Student Name
                    </span>
                  </div>
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                </div>
              </div>          
  
              <div class="col-12">
                <div class="row">
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                  <div class="pm-earned col-8 text-center">
                    <span class="pm-earned-text p-0 block cursive">has earned</span>
                    <span class="pm-credits-text block bold sans">1.0 Credit Hours</span>
                  </div>
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                  <div class="col-12"></div>
                </div>
              </div>
              
              <div class="col-12">
                <div class="row">
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                  <div class="pm-course-title col-8 text-center">
                    <span class="pm-earned-text block cursive">for attending the following event</span>
                  </div>
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                </div>
              </div>
  
              <div class="col-12">
                <div class="row">
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                  <div class="pm-course-title underline col-8 text-center">
                    <span class="pm-credits-text block bold sans">Bearcat Chess Tournament</span>
                  </div>
                  <div class="col-2"><!-- LEAVE EMPTY --></div>
                </div>
              </div>
          </div>       
          
          <div class="col-12">
              <div class="pm-certificate-footer row">
                  <div class="pm-certified col-6 text-center">
                    <span class="pm-credits-text block sans">Event Supervisor</span>
                    <span class="pm-empty-space block underline"></span>
                    <span class="bold block">Northwest Missouri State University, Maryville</span>
                  </div>
                   
                  <div class="pm-certified col-6 text-center">
                    <span class="pm-credits-text block sans">Date Completed</span>
                    <span class="pm-empty-space block underline"></span>
                    <span class="bold block">DOB: </span>
                    <span class="bold block">S456321@nwmsu.edu</span>
                  </div>
              
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
    
</div>