<section class="header">
  <div class="container-fluid py-2">
    <div class="row align-items-center">
      <div class="col-1 text-center">
        <a href="/home"
          ><img
            src="../../../assets/images/logo-n.svg"
            alt="logo"
            class="img-fluid"
        /></a>
      </div>
      <div class="col-6 logoText">
        <a href="/home">Northwest Missouri State University <br><br> Event Tracking System</a>
      </div>
      <div class="col-5 text-end" *ngFor="let user of currentUser ">
        <a href="/login" class="logOut">{{user.firstName | titlecase}} | Log Out</a>
      </div>
    </div>
  </div>
</section>
