<section class="login row align-items-center">
  
  <div class="container p-4">
    <div class="row align-items-center">
      <div class="col-3">
        <a href=""
          ><img
            src="../../../assets/images/logo-n.svg"
            alt="logo"
            class="img-fluid imgLogo"
        /></a>
      </div>
      <div class="col-9 logoText">
        <div class="credNotification" *ngIf="show">
          <span>{{errorNotification | titlecase}} <button class="btn" (click)="closeNotification()"><mat-icon>close</mat-icon></button></span>
        </div>
        <a href="">{{title}} <br><br>{{appName}} </a>
        <div class="loginForm">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" required>
                  <div id="email" class="form-text text-danger" *ngIf="loginForm.get('email').hasError('pattern')">Please enter valid email</div>
                 
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <div class="mb-3">
                    <a href="" >Forgot Password?</a>
                </div>
          
                <button type="submit" class="btn btn-success">Login</button>
              </form>
        </div>
      </div>
    </div>
  </div>
</section>
