<h2 mat-dialog-title>Attendees List</h2>
<mat-dialog-content class="mat-typography"> 
  <div class="row justify-content-center">
    <div class="col"> 
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="EX: First Name..." #input>
    </mat-form-field>
  </div>
    <div class="col text-end">
      <button class="btn btn-success" (click)="openPostAttendance()">Add attendee</button>
    </div>
  </div>
   
      
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  matSort >
      
        <!-- Position Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.no}} </td>
        </ng-container>
      
        <!-- 919 Column -->
        <ng-container matColumnDef="n19" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> #919 </th>
          <td mat-cell *matCellDef="let element"> {{element.n19}} </td>
        </ng-container>
      
        <!-- #SID Column -->
        <ng-container matColumnDef="sid" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> #SID </th>
          <td mat-cell *matCellDef="let element"> {{element.sid | uppercase}} </td>
        </ng-container>
      
        <!-- first name Column -->
        <ng-container matColumnDef="firstName" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.firstName | titlecase}} </td>
        </ng-container>
         <!-- last name Column -->
         <ng-container matColumnDef="lastName" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName | titlecase}} </td>
          </ng-container>
           <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
       <!-- Clock in Column -->
       <ng-container matColumnDef="clockIn">
        <th mat-header-cell *matHeaderCellDef > Clock In </th>
        <td mat-cell *matCellDef="let element"> {{element.clockIn | date:'h:mm a'}} </td>
      </ng-container>
       <!-- clock out Column -->
       <ng-container matColumnDef="clockOut">
        <th mat-header-cell *matHeaderCellDef > Clock Out </th>
        <td mat-cell *matCellDef="let element"> {{element.clockOut | date:'h:mm a'}} </td>
      </ng-container>
      <!-- action buttons -->
    	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row (click)="openEditDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Update</button>
</mat-dialog-actions>
